[lang='tr'] {
  .uppercase {
    text-transform: uppercase;
  }

  *::text-transform-uppercase::before,
  .uppercase::before {
    content: attr(data-text);
    text-transform: uppercase;
    -webkit-locale: 'tr';
    locale: 'tr';
  }
}

.no-transform {
  text-transform: none !important;
}

.v-btn {
  text-transform: none !important;
}
